{% extends "base.html" %}
{% load static %}
{% block title %}
  Об авторе проекта
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="d-flex justify-content-center">
      <h1>Привет, я автор!</h1>
    </div>
    <div class="d-flex justify-content-center">
      <p>
        Меня зовут Михаил! Я учусь в Яндекс Практикуме и хочу стать
        ниче таким бэкендером, в прошлый раз за меня писал кот, 
        у нас разногласия...
        Я пришел в в этот мир программировния
        благодаря играм и интернету, я как то увлекся и начал баловаться с модами
        к играм и html файлами в блокноте. <br>
        Во время работы мне естественно помогали мои 2 кота и кошка, 
        куда же без них. 
        Ну а так я больше по черепашкам, у меня еще 2 черепахи
      </p>
    </div>
    <div class="d-flex justify-content-center">
      <img src="{% static 'img\my_work_place.png' %}">
    </div>
  </div>
{% endblock %}