{% extends 'base.html' %}
{% block title %}
  {% comment %} 
    Пол часа не мог понять почему не прохоядт тесты.
    В слаке кому-то подсказали и я все понял.
    Поэтому да, знаю что это косяк тестов :)
    Сразу скажу по поводу проекта
    Он дается мне сложно 
    и мне приходится читать stackoverflow и документацию
  {% endcomment %}
  Записи сообщества <h1>{{ group.title }}</h1>
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h2>{{ group.title }}</h2>
    <p>{{ group.description|linebreaks }}</p>
    {% for post in page_obj %}
      {% include 'includes/article.html' with group_list=True%}
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
    <div class="d-flex justify-content-center">
      {% include 'posts/includes/paginator.html' %}
    </div>
  </div>
{% endblock %}