{% extends 'base.html' %}
{% block title %}
  Профайл пользователя 
  {% if author.get_full_name %}
    {{ author.get_full_name }}
  {% else %}
    {{ author }}
  {% endif %}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Все посты пользователя 
      {% if author.get_full_name %}
        {{ author.get_full_name }}
      {% else %}
        {{ author }}
      {% endif %}
    </h1>
    <h3>Всего постов: {{ page_obj.paginator.count }}</h3>
    {% if request.user.is_authenticated and username != request.user %}
      {% include 'posts/includes/follow_unfollow_button.html' %}
    {% endif %}
      {% for post in page_obj %}
        {% include 'includes/article.html' %}
        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %}
      <div class="d-flex justify-content-center">
        <div>{% include 'posts/includes/paginator.html' %}</div>
      </div>
    </div>
{% endblock %}